body {
  min-height: 700px;
  height: 100%;
}
canvas {
  width: 800px;
  height: 400px;
  border: 1px solid black;
}

.add-rect{
  height: 40px;
  width: 40px;
  background: black;
}

.add-circle{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: black;
}

.add-triangle{
  width: 0;
	height: 0;
  border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid black;
}

.add-line{
  width: 45px;
  height: 45px;
  border-bottom: 4px solid black;
  -webkit-transform:   translateY(-20px) translateX(5px) rotate(27deg);
  /*position: absolute;*/
  margin-top: -45.3px;
}

.add-text{
  color: black;
  font-size: 2em;
  margin-left:-55px;
  top: -7px;
  position: relative
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 40px;
    color: black;
    width: 140px;
    top: -10px;
    position: relative
}

*:focus {
    outline: 0;
}


.shape-buttons{
  left: 0px;
  top: 25px;
  position: relative;
}

.edit-buttons{
  right: 0px;
  top: 125px;
  position: absolute;
}

.btn img{
   width: 25px;
   margin-left: -10px;
}



button{
  background: rgba(255, 255, 255, 0);
}
